<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DOM - Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    {% include 'icon.html' %}
</head>

<body>

    <!-- Header -->
    {% include 'dashboard_header.html' %}

    <div class="dashboard-container">
        <aside class="sidebar">
        <ul class="menu">
            <li><a href="#">Início</a></li>
            <li><a href="#">Usuários</a></li>
            <li><a href="#">Relatórios</a></li>
            <li><a href="#">Mensagens</a></li>
        </ul>
        </aside>

        <main class="dashboard-content">
        <h1>Bem-vindo ao Painel de Controle</h1>
        <p>Este é o seu espaço de gestão. Escolha uma opção no menu.</p>
        <!-- Adicione widgets ou cards aqui -->
        </main>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
    
</body>    
</html>
