<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DOM - Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% include 'icon.html' %}
</head>

<body>

    <!-- Header -->
    <header class="main-header">
        <div class="logo">
            <!-- <img src="/static/logo.png" alt="Logo da Empresa" class="logo-img"> Logo Placeholder -->
            <span>Minha Empresa</span> <!-- Nome da Empresa -->
        </div>
        <nav class="nav-bar">
            <a href="/">Início</a>
            <a href="/login">Login</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    
    <h1>Olá, {{ user_info['name'] }}!</h1>

    <!-- Footer -->
    {% include 'footer.html' %}
    
</body>    
</html>
