<footer>
    <div class="footer-container">
        <p>&copy; 2025 DOM Acessoria Empresarial. Todos os direitos reservados.</p>
        <ul class="footer-links">
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/privacidade">Políticas de Privacidade</a></li>
        </ul>
        <ul class="social-links">
            <li>
                <a href="https://www.instagram.com/domassessoriaempresarial" target="_blank" rel="noopener noreferrer">
                    <img src="/static/icons/instagram.png" alt="Instagram" class="social-icon">
                </a>
            </li>
            <li>
                <a href="https://wa.me/message/BDWQ47Y37DAEM1" target="_blank" rel="noopener noreferrer">
                    <img src="/static/icons/whatsapp.png" alt="WhatsApp" class="social-icon">
                </a>
            </li>
        </ul>
    </div>
</footer>
