<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM - Política de Privacidade</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% include 'icon.html' %}
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <h1>Política de Privacidade</h1>
        <p>Bem-vindo à nossa página de Política de Privacidade. Sua privacidade é importante para nós. Esta política explica como coletamos, usamos e protegemos suas informações pessoais.</p>
        
        <h2>Informações que Coletamos</h2>
        <p>Podemos coletar informações pessoais, como nome, endereço de e-mail e dados de navegação, quando você utiliza nossos serviços.</p>
        
        <h2>Como Usamos Suas Informações</h2>
        <p>As informações coletadas são usadas para melhorar nossos serviços, personalizar sua experiência e entrar em contato com você, se necessário.</p>
        
        <h2>Proteção de Dados</h2>
        <p>Adotamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração ou divulgação.</p>
        
        <h2>Alterações nesta Política</h2>
        <p>Reservamo-nos o direito de atualizar esta política de privacidade a qualquer momento. Recomendamos que você revise esta página periodicamente.</p>
        
        <p>Se tiver dúvidas sobre nossa política de privacidade, entre em contato conosco.</p>
    </div>

    {% include 'footer.html' %}
</body>
</html>