<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>DOM - Sobre</title>
        <link rel="stylesheet" href="/static/css/style.css">
        {% include 'icon.html' %}
    </head>
<body>
    
    <!-- Header -->
    {% include 'header.html' %}

    <main>
        <p>Somos uma empresa focada em soluções modernas para gestão de dados e integração de sistemas.</p>
        <p>Nosso objetivo é simplificar processos com tecnologia eficiente.</p>
    </main>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
